 @media only screen and (min-width: 150px;  max-width: 992px)
{
  html
  {
    font-size:15px;
  }
    nav{

      font-size:1.5em;

    }

  

    nav ul {

      float:left;

      clear:none;

      width:100%;

    }

    nav ul li {

      float:none;

    }
  .container
  {
  width: 70%;
  margin-top: 50%;
  display:flex;
  justify-content: space-around;
  padding: 3%;
  }

  .carrusel slide{
    width: 100%;
    padding-top: 1050px;


  }
}
  nav{
      background-color: #333;
      height: 50px;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    nav ul{
       list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C5FE6;
    }

    nav ul li {
      list-style-type: none;
      width: 150px;
      float: left;
      border-right: 1px  #CCC;
      text-align: center;
    }

    nav ul li a {
      display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
    }

    nav ul li a:hover {
      background-color: yellow;
      color: green;
    }
    .carousel {
       margin-bottom: 20px;
        padding: 20px;
  float: left;
  width: 100%;


    }

    .carousel2 {
       margin-bottom: 20px;
        width: 100%;
         padding: 20px;
  float: left;
  width: 100%;


    }

 .footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#2C95E0;
  border: solid 2px black;

   color: white;
   text-align: center;
}

#iconos{
  width: 30px;
  height: 50px;
  margin-left: 0 auto;
  margin-bottom: 0 auto;
  color: white;
  margin:0 12px;
}
#ayuda{
  background-color: black;
  border: solid 1px #003300;
}
.nav-link{
  color: white;
}


h5{
  color: white;
  text-align: center;
}

h1{
  text-align: center;
}